table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    @include responsive('xs'){
        display: inline-block;
        overflow-x: auto;
    }

    thead {
        tr {
            th {
                padding: 0.5rem 0;
                text-align: left;
                border-bottom: 2px solid #000000;
            }         
        }
    }

    tbody {
        tr {
            td {
                padding: 0.5rem 0.5rem;
                border-right: 2px solid black;
            }
            td:last-of-type {
                border-right: none;	
            }
        }
    }
}
